extends layout

block content

  div(class="navbar navbar-inverse navbar-fixed-top")
    .container-fluid
      .navbar-header
        button.navbar-toggle(type="button", data-toggle="collapse", data-target="#myNavbar")
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href="/") Tónleikar
      div(class="collapse navbar-collapse")
        ul(class="nav navbar-nav")
          li
            a(href="/") Heim
          li
            a(href="/umokkur") Um okkur
          li.active
            a(href="/hafasamband") Hafa samband


  div.jumbotron.text-center
    h1= title
    p= "Hérna geturu haft samband við þessa snillinga"

  div.container
    div.well
      div.form
        .form-group
           label(for='new-email-name') Nafn:
           input#new-email-name.form-control(type='text', required='', name='nameContact')
           p= ""
           label(for='new-email-email') Netfang:
           input#new-email-email.form-control(type='email', required='', name='emailContact')
           p= ""
           label(for='new-email-text') Skilaboð:
           textarea#new-email-text.form-control(type='text', name='textContact', required='', rows='10', cols='40')
           p= ""
           button.btn.btn-primary(type='submit') Senda póst
