extends layout

block content

  div(class="navbar navbar-inverse navbar-fixed-top")
    .container-fluid
      .navbar-header
        button.navbar-toggle(type="button", data-toggle="collapse", data-target="#myNavbar")
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href="/") Tónleikar
      div(class="collapse navbar-collapse")
        ul(class="nav navbar-nav")
          li.active
            a(href="/") Heim
          li
            a(href="/umokkur") Um okkur
          li
            a(href="/hafasamband") Hafa samband

  div.jumbotron.text-center
    div.texti1= title
    p= "Tónleika líf á Íslandi"


  for concert in concerts
      div.container
        div.well
          div.width
            div.texti2= concert.eventDateName
            div.texti3= concert.name
            div.texti3= "Dagsetning: "+ new Date(concert.dateOfShow).toLocaleString()
            div.texti3= "Umsjón: "+ concert.userGroupName
            div.texti3= "Staðsetning: "+ concert.eventHallName
          div.picture
            img(class="rounded float-xs-left", src=concert.imageSource)


  div.container-folow
    div.texti3= "Fylgstu með!"
      div.logo
        a(href='https://www.facebook.com/')
          img( src='images/facebook.jpg', alt='facebook-logo', width='30', height='30')
        a(href='https://twitter.com/')
          img( src='images/twitter.png', alt='Twitter-logo', width='30', height='30')
        a(href='https://www.youtube.com/')
          img( src='images/youtube.jpg', alt='Youtube-logo', width='30', height='30')
        a(href='https://www.myspace.com/')
          img( src='images/myspace.png', alt='Myspace-logo', width='30', height='30')
