extends layout

block content
  div.jumbotron.text-center
    h1= title
    p= "Tónleika líf á Íslandi"



  for concert in concerts
<<<<<<< HEAD
      div.col-sm-4
        div.well
          h2= concert.eventDateName
=======
    h2= concert.eventDateName
    h4= concert.name
    h4= concert.dateOfShow
    h4= concert.userGroupName
    h4= concert.eventHallName
    img(src=concert.imageSource)
>>>>>>> origin/master
