extends layout

block content

  div(class="navbar navbar-inverse navbar-fixed-top")
    .container-fluid
      .navbar-header
        button.navbar-toggle(type="button", data-toggle="collapse", data-target="#myNavbar")
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href="/") Tónleikar
      div(class="collapse navbar-collapse")
        ul(class="nav navbar-nav")
          li
            a(href="/") Heim
          li.active
            a(href="/umokkur") Um okkur
          li
            a(href="/hafasamband") Hafa samband

  div.jumbotron.text-center
    div.texti1= title
    p= "Þeir snillingar sem standa á bak við þessa snild"


  div.container
    div.well
      div.umokkur
        div.texti2= "Elvar Kjartansson"
        div.umokkur-upl
            img(src='images/elvar.jpg', alt='Elvar', width='300', height='300')
            div.umokkur-texti
              p
                | Elvar er uppalinn í sjálfu gettóinu í Breiðholtinu fræga.
                | Hann er 27 ára og þess má geta að hann hefur einungis verið á
                | facebook í 1 ár!
                | Eftir útskrift úr grunskóla lá leið hans með gáfumenum beint í
                | MR þar sem hans fyrstu kyn við forritun voru. Úr MR útskrifaðist
                | hann með stúdentspróf, ekki þótti honum nóg að vera bara með
                | stúdenst próf og skráði hann sig því í Háskóla Íslands í
                | rafeindaverkfræði. En ekki fann hann sig í því námi og var það
                | svo drep leiðinlegt að hann hafði enga nennu til að mæta í
                | lokaprófinn og féll því með stæl!
                | Ekki var hann búin að gefa upp vonina á tilgangilífsins og fann
                | sig aftur í námi og skráði sig í Tækniskólan í iðnám. Hann kláraði
                | þar rafeindavirkjan og var því í svaka stuði eftir það.
              p
                | Loks fann hann svo hina réttu leið í geggnum lífið og skráði sig
                | aftur í Háskóla ísland og að þessu sinni í Tölvunarfræði.
                | Núna er loksins tilgangur lífs hans fundin og hefur hann fundið
                | hvar hæfirleikar hann liggja!
                | Hæfni hans er gífuleg og ef einhver veit svarið þá er það Elvar!
                | Svarið er neflega ALLTAF 42!
    div.well
      div.umokkur

        div.umokkur-texti
          div.texti2= "Karítas Sif Halldórsdóttir"
          p
            | Karítas er 28 ára og hefur loks fundið tilgang lífsins eftir að hafa
            | hugleit í nokkur ár að skrá sig í nám í Tölvunarfræði en aldrei
            | látið verða að því. Hún náði að klára stúdentspróf eftir að hafa
            | verið  5 ár í framhaldskóla með 1 árs fjarveru þar sem hún
            | varð að lifa lífinu smá og fluttist til svíþjóðar til að spila
            | íshokkí þar sem áhugin var alltaf þar en aldrei á náminu sjálfu.
            | Eftir stúdentspróf skráði hún sig svo í nám í margmiðlunarskólan
            | og kláraði þaðan nám árið 2012 og gatt því eftir það titlað sig
            | Margmiðlunarfræðing en hefur aldrei orðið svo fræg að vinna við það
            | þar sem hún áhvað að fjölka mankyninu frekar. Eftir 1 árs fæðingarorlof
            | var hugurinn að leggja af stað og fara í háskóla nám en spurningin var hvað
            | ekki vildi hún gera þau miðstök að taka gráðu nr 2 og aldrei vinna við hana
            | því var hún 1 ár að áhveða sig að Tölvunafræði væri klárlega
            | lykilinn af hamingju lífsins.
          p
            | En þessar mundir dundar hún sér að læra vefforitun eftir að hafa
            | fjölgað mannkyninu um eina dömu og sittur því alltaf heima með ungabarn
            | í fanginu og þykkist læra heima á milli þess sem hún skúrar og pússar
            | uppsafnað 1 daga ryk af húsgögnunum og pússar silfur stellið sitt.
            | Og ekki má gleyma uppáhalds áhugamáli henar að lesa mömmu blogg
            | þegar tími gefst til.
    div.well
      div.umokkur

          div.umokkur-texti
            div.texti2= "Sunna Dröfn Sigfúsdóttir"
            p
              | Sunna er 22 ára einhleip stúlka sem leitar af lífsförunauta til
              | að upplifa lífið með sér. Hún lagði leið sína í FB eftir grunskóla
              | og lagði þar stund á hanyrði og var þar sauma og prjóna snillingur
              | að innlifun og sál. Þegar hún kláraði svo stúdent þá fór hún á vit
              | ævintýrana og fór til bandaríkjana til að reyna að finna sér
              | aupair fjölskyldu sem stæði í miðjum skilnaði svo hún gætti slegið sér
              | upp með föður barnana á milli þess sem hún passaði börninn. Ekki tókst
              | það betur en svo að hún endaði með að komast inn sem aupair hjá
              | tvíburamömmu sem var ný búin að skilja og fékk því aldrei færi að slá
              | sér upp með förður stúlknana.
            p
              | Eftir skemmlega dvöl í bandaríkjunum og helling af tónleikaferðum
              | en engan maka kom Sunna því heim og tók stóra áhvörðun í lífi sínu
              | rétt áður en hún kom heim og skráði sig í Tölvunfræði í
              | Háskóla Ísland og sér sko ekki eftir því!!
