extends layout

block content

  div(class="navbar navbar-inverse navbar-fixed-top")
    .container-fluid
      .navbar-header
        button.navbar-toggle(type="button", data-toggle="collapse", data-target="#myNavbar")
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href="/") Tónleikar
      div(class="collapse navbar-collapse")
        ul(class="nav navbar-nav")
          li
            a(href="/") Heim
          li.active
            a(href="/umokkur") Um okkur
          li
            a(href="/hafasamband") Hafa samband

  div.jumbotron.text-center
    div.texti1= title
    p= "Þeir snillingar sem standa á bak við þessa snild"


  div.container
    div.well
      div.umokkur
        img(src='images/elvar.jpg', alt='Elvar', width='300', height='300')
        div.umokkur-texti
          h2= "Elvar Kjartansson"
          div.umokkur-innri-text
            p
              | Elvar er uppalinn í sjálfu gettóinu í Breiðholtinu fræga.
              | Hann er 27 ára og þess má geta að hann hefur einungis verið á
              | facebook í 1 ár!
              | útskrifaðist hann með stúdentspróf, en ekki þótti honum nóg að
              | vera bara með stúdentspróf og skráði hann sig því í Háskóla
              | Íslands í rafeindaverkfræði. En ekki fann hann sig í því námi
              | og var það svo drep leiðinlegt að hann hafði enga nennu til að
              | mæta í lokaprófin og féll því með stæl!
              | Ekki var hann búinn að gefa upp vonina á tilgangi lífsins og
              | fann sig aftur í námi og skráði sig í Tækniskólann í iðnnám.
              | Hann kláraði þar rafeindavirkjann og var því í svaka stuði
              | eftir það.
            p
              | Loks fann hann svo hina réttu leið í gegnum lífið og skráði sig
              | aftur í Háskóla Íslands og að þessu sinni í Tölvunarfræði.
              | Hæfni hans er gífurleg og ef einhver veit svarið þá er það
              | Elvar! Svarið er nefnilega ALLTAF 42!
    div.well
      div.umokkur

        div.umokkur-texti
          h2= "Karítas Sif Halldórsdóttir"
          p
            | Karítas er 28 ára og hefur loks fundið tilgang lífsins eftir að
            | hafa hugleitt í nokkur ár að skrá sig í nám í Tölvunarfræði en
            | aldrei látið verða af því. Hún náði að klára stúdentspróf eftir
            | að hafa verið 5 ár í framhaldskóla með eins árs fjarveru þar sem
            | hún varð að lifa lífinu smá og fluttist til Svíþjóðar til að
            | spila íshokkí þar sem áhuginn var alltaf þar en aldrei á náminu
            | sjálfu. Eftir stúdentspróf skráði hún sig svo í nám í
            | Margmiðlunarskólann og kláraði þaðan nám árið 2012 og gat því
            | eftir það titlað sig Margmiðlunarfræðing en hefur aldrei orðið
            | svo fræg að vinna við það þar sem hún ákvað að fjölga mannkyninu
            | frekar. Eftir eins árs fæðingarorlof var hugmyndin að leggja af
            | stað og fara í háskólanám en spurningin var hvað, ekki vildi hún
            | gera þau mistök að taka gráðu nr 2 og aldrei vinna við hana.
            | Því var hún eitt ár að ákveða sig að Tölvunafræði væri klárlega
            | lykilinn af hamingju lífsins.
          p
            | En um þessar mundir dundar hún sér við að læra vefforitun eftir
            | að hafa fjölgað mannkyninu um eina dömu og situr því alltaf
            | heima með ungabarn í fanginu og þykist læra heima á milli þess
            | sem hún skúrar og þrífur eins dags lag af uppsöfnuðu ryki af
            | húsgögnunum og pússar silfur stellið sitt. Og ekki má gleyma
            | uppáhalds áhugamáli hennar sem er að lesa mömmu blogg þegar tími
            | gefst til.
    div.well
      div.umokkur

          div.umokkur-texti
            h2= "Sunna Dröfn Sigfúsdóttir"
            p
              | Sunna er 22 ára einhleip stúlka sem leitar að lífsförunauta til
              | að upplifa lífið með sér. Hún lagði leið sína í FB eftir
              | grunnskóla og lagði þar stund á hanyrði og var þar sauma og
              | prjóna snillingur að innlifun og sál. Þegar hún kláraði svo
              | stúdent þá fór hún á vit ævintýrana og fór til bandaríkjana
              | til að reyna að finna sér aupair fjölskyldu sem stæði í miðjum
              | skilnaði svo hún gæti slegið sér upp með föður barnana á milli
              | þess sem hún passaði börnin. Ekki tókst það betur en svo að hún
              | endaði með að komast inn sem aupair hjá tvíburamömmu sem var ný
              | búin að skilja og fékk því aldrei færi á að slá sér upp með
              | förður stúlknana.
            p
              | Eftir skemmtilega dvöl í bandaríkjunum og helling af
              | tónleikaferðum en engan maka kom Sunna því heim og tók stóra
              | ákvörðun í lífi sínu rétt áður en hún kom heim og skráði sig í
              | Tölvunarfræði í Háskóla Íslands og hún sér sko ekki eftir því!!
