extends layout

block content

  div(class="navbar navbar-inverse navbar-fixed-top")
    .container-fluid
      .navbar-header
        button.navbar-toggle(type="button", data-toggle="collapse", data-target="#myNavbar")
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href="/") Tónleikar
      div(class="collapse navbar-collapse")
        ul(class="nav navbar-nav")
          li
            a(href="/") Heim
          li.active
            a(href="/umokkur") Um okkur
          li
            a(href="/hafasamband") Hafa samband

  div.jumbotron.text-center
    h1= title
    p= "Þeir snillingar sem standa á bak við þessa snild"


  div.container
    div.well
      div.umokkur
        h2= "Elvar Kjartansson "
        p= "Elvar er 27 ára snillingur í tölvunarfræði við Háskóla Íslands. Hann er á öðru ári og er að brillera. Áður en hann ákvað að fara í tölvunarfræði útskrifaðist hann frá FB á rafvirkjabraut og tók stúdentinn í MR."
    div.well
      div.umokkur
        h2= "Karítas Sif Halldórsdóttir"
        p= "Karítas er 28 ára tveggja barna móðir og nemandi í tölvunarfræði við Háskóla Íslands. Hún er í fæðingarorlofi þessa önn og er að taka vefforritun sér til skemmtunar á meðan. Áður en hún skellti sér í þessa frábæru hluti út skrifaðist hún með stúdennt í FB og af Margmiðlunarbraut í Tækniskólanum??"
    div.well
      div.umokkur
        h2= "Sunna Dröfn Sigfúsdóttir"
        p= "Sunna er 22 ára nemandi í tölvunarfræði við Háskóla Íslands. Hún kann ekkert að forritan og þið eruð mjög óheppin að hún sé með ykkur í hóp, sorry með hana!!!! Hún ætlaði að vera duglegri og skilja meira en það er bara ekki að ganga hjá henni"
        img(class="rounded float-xs-left", src='https://upload.wikimedia.org/wikipedia/commons/c/cc/SRI_Computer_Mouse.jpg')
        p= "kann ekki að gera myndina minni og setja á réttan stað en ég er búin að vera að reyna að gera það"
