extends layout

block content

  div(class="navbar navbar-inverse navbar-fixed-top")
    .container-fluid
      .navbar-header
        button.navbar-toggle(type="button", data-toggle="collapse", data-target="#myNavbar")
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href="/") Tónleikar
      div(class="collapse navbar-collapse")
        ul(class="nav navbar-nav")
          li
            a(href="/") Heim
          li.active
            a(href="/umokkur") Um okkur
          li
            a(href="/hafasamband") Hafa samband

  div.jumbotron.text-center
    h1= title
    p= "Þeir snillingar sem standa á bak við þessa snild"


  div.container
    div.well
      div.umokkur
        h2= "Elvar"
        p= "Góðan daginn"
    div.well
      div.umokkur
        h2= "Karítas"
        p= "Karítas er tveggja barna móðir og nemandi í tölvunarfræði við Háskóla Íslands. Hún er í fæðingarorlofi þessa önn og er að taka vefforritun sér til skemmtunar á meðan"
    div.well
      div.umokkur
        h2= "Sunna"
        p= "Góðan daginn"
